// Definición de variables de colores
$light-blue: #2DD1DF;
$dark-blue: #000B49;
$gray-letter: rgb(69, 77, 84);
$light-gray-letter: rgb(223, 221, 221); // rgb(201, 201, 201);

//Para los botones
$dark-blue-change: #0f1850; //#011066; //Cuando se le de click al boton azul oscuro, este cambia a este color
$light-blue-change: #30DEEC;
$white-change: rgb(248, 244, 244); // #E8EBFE; //Cuando se le de click al boton blanco, este cambia a este color - Se usará tambien en el selector de las tablas
$light-gray-letter-change: rgb(235, 232, 232);

// Definición de variable de fuente de letra
$font-letter: 'Nunito Sans';

p{
    font-size: 16px;
}


// border-radius: 6px;