<div class="div_my_packages">
    <app-nav-bar [type_user]="send_user_type" (send_navbar_route)="navigate($event)"></app-nav-bar>
    <div class="div_body">
        <div class="div_header">
            <h2>MIS PAQUETES</h2>
            <button class="buttons button_dark_blue">Crear</button>
        </div>
        <div class="div_filter_search">
            <input type="date" class="datePicker">
            <div class="div_search">
                <img src="../../../../assets/search_icon.png" alt="Icono de buscar" [ngStyle]="input_status ? {'visibility': 'visible'}:{'visibility': 'hidden'}">
                <input type="text" placeholder="Buscar por Id..." class="input_style" (focus)="input_status=false" (blur)="input_status=true">
            </div>
        </div>
        <div class="div_blocks">
            <div class="block">
                <div class="div_logo" style="background: #011066;">
                    <i class="fa fa-cube" style="color: #30DEEC;"></i>
                </div>
                <div class="div_data">
                    <p>Paquetes</p>
                    <h3>N° 2</h3>
                </div>
            </div>
            <div class="block">
                <div class="div_logo" style="background: #30DEEC;">
                    <i class="fa fa-money-bill" style="color: #011066;"></i>
                </div>
                <div class="div_data">
                    <p>Acumulado</p>
                    <h3>$ 30.000</h3>
                </div>
            </div>
        </div>
        <div class="div_table_options">
            <button (click)="changeTableState('pendientes')" [ngClass]="{'border_style': table_status=='pendientes'}">Pendientes</button>
            <button (click)="changeTableState('completados')" [ngClass]="{'border_style': table_status=='completados'}">Completados</button>
            <button (click)="changeTableState('cobrar')" [ngClass]="{'border_style': table_status=='cobrar'}">Por cobrar</button>
            <button (click)="changeTableState('pagos')" [ngClass]="{'border_style': table_status=='pagos'}">Pagos</button>
        </div>
        <div class="div_table_main">
            <app-table [data]="array_prueba_tabla" [type_user]="send_user_type"></app-table>
        </div>
    </div>
</div>
