<div class="div_package_detail" *ngIf="detail_data">
    <app-nav-bar [user]="app_service.data_user" (send_navbar_route)="navigate($event)"></app-nav-bar>
    <div class="div_body"  #contenidoPDF>
        <div class="div_header">
            <h3>PAQUETE: {{detail_data.id_package}}</h3>
            <button class="buttons button_dark_blue" *ngIf="type_user!='admin'" (click)="generatePDF()">Imprimir</button>
            <div *ngIf="type_user=='admin'">
                <button class="buttons button_dark_blue" *ngIf="detail_data.state =='Closed'" [disabled]="true">{{detail_data.state}}</button>
                <!-- El valor cambia segun el item de estado que se le envie -->
                <app-select *ngIf="detail_data.state =='Completed'" [select_type]="'Detail'" [options]="options_array" [selectedValue]="detail_data.state" (send_option)="payment(data_employee.id_number, detail_data.id_package, $event)"></app-select> 
            </div>
        </div>
        <div class="package_data_worker" *ngIf="type_user!='admin'">
            <p><strong>Estado:</strong> {{detail_data.state}}</p>
            <p><strong>Fecha:</strong> {{detail_data.date.slice(0, 16)}}</p>
        </div>
        <div class="package_data_admin" *ngIf="type_user=='admin'">
            <p><strong>N° identificación:</strong> {{data_employee.id_number}}</p>
            <p><strong>Nombre:</strong> {{data_employee.name}}</p>
            <p><strong>Rol:</strong> {{data_employee.role}}</p>
            <p><strong>Fecha:</strong> {{detail_data.date.slice(0, 16)}}</p>
        </div>
        <div class="div_table_main">
            <app-table [data]="detail_data.package_details_data" [type_table]="'product'"></app-table>
        </div>
        <div class="div_total">
           <div class="div_table_total">
                <table>
                    <tfoot>
                        <tr>
                            <td>Total:</td>
                            <td>$ {{detail_data.cumulative_total}}</td>
                        </tr>
                    </tfoot>
                </table>
           </div>
        </div>
    </div>
</div>
