<div class="div_my_packages">
    <app-nav-bar [type_user]="send_user_type" (send_navbar_route)="navigate($event)"></app-nav-bar>
    <div class="div_body">
        <div class="div_header">
            <h2>REGISTRAR PRODUCTOS</h2>
        </div>
        <div class="div_form">
            <form>
                <div class="div_grid">
                    <div class="div_fields">
                        <app-select [select_type]="'form'" [options]="options_array" [selectedValue]="'Producto'"></app-select>
                    </div>
                    <div class="div_fields">
                        <input class="input_style" type="text" placeholder="ID Producto">
                    </div>
                    <div class="div_fields">
                        <input class="input_style" type="text" placeholder="Valor">
                    </div>
                    <div class="div_fields">
                        <app-select [select_type]="'form'" [options]="options_array" [selectedValue]="'Paquete'"></app-select>
                    </div>
                </div>
                <p>En esta sección, te brindamos la oportunidad de registrar individualmente cada uno de los productos que produces diariamente. Es importante tener en cuenta que cada producto debe ser asociado a un paquete existente con estado 'pendiente'. De esta manera, podrás gestionar eficazmente tus producciones y asegurarte de que todo esté en orden antes de su envío.</p>
                <button type="submit" class="buttons button_dark_blue">Registrar</button>
            </form>
        </div>
    </div>
</div>
