<div class="div_product_creation">
    <app-nav-bar (send_navbar_route)="navigate($event)"></app-nav-bar>
    <div class="div_body">
        <div class="div_header">
            <h3>PRODUCTOS</h3>
            <div>
                <button *ngIf="open!='search'" class="buttons button_dark_blue" (click)="open='search'"><i class="fas fa-search"></i> <span>Buscar</span></button>
                <button *ngIf="open!='form'" class="buttons button_dark_blue" (click)="open='form'"><i class="fa fa-plus"></i> <span>Añadir</span></button>
            </div>
        </div>
        <div class="div_form slideDown" *ngIf="open=='form'">
            <form>
                <div class="div_grid">
                    <div class="div_fields">
                        <input class="input_style" type="text" placeholder="ID Producto">
                    </div>
                    <div class="div_fields">
                        <input class="input_style" type="text" placeholder="Nombre Producto">
                    </div>
                    <div class="div_fields">
                        <input class="input_style" type="text" placeholder="Valor">
                    </div>
                </div>
                <button type="submit" class="buttons button_dark_blue" (click)="open=''">Añadir</button>
            </form>
        </div>
        <div class="div_main_search slideDown" *ngIf="open=='search'">
            <div>
                <app-search [type_search]="'product'" [array_search]="products_array" (searchResult)="receiveSearchResults($event)"></app-search>
            </div>
        </div>
        <div class="div_table_main" [ngStyle]="{ 'margin-top.px': open=='form' ? 20 : 40 }">
            <app-table [data]="filteredData.length > 0 ? filteredData : products_array" [type_table]="'add_product'"></app-table>
        </div>
    </div>
</div>
