<!-- PARA WORKER -->

<div class="div_nav_bar" *ngIf="user.role!='admin'">
    <div class="div_logo_name">
        <img src="../../../../assets/logo_kopay_2.png" alt="Logo KOPAY">
        <h2>KOPAY</h2>
    </div>
    <div class="div_user">
        <div class="div_profile">
            <div class="div_letter">
                <p>{{user.name[0]}}</p>
            </div>
            <div class="div_name">
                <p>{{user.name.slice(0, 8)}}</p>
                <p>{{user.role}}</p>
            </div>
        </div>
        <hr>
        <p (click)="sendRoute('setting')" class="options_p"><i class="fa fa-gear"></i> <strong>Configuración</strong></p>
    </div>
    <div class="div_options">
        <ul>
            <li (click)="sendRoute('myPackages')"><i class="fa fa-cube"></i> Mis paquetes</li>
            <li (click)="sendRoute('productRegistration')"><i class="fa fa-plus"></i> Productos</li>
        </ul>
    </div>
    <div class="div_Sign_off">
        <p class="options_p" (click)="sendRoute('login')"><i class="fa fa-store-slash"></i> Cerrar sesión</p>
    </div>
</div>

<!-- PARA ADMIN -->

<div class="div_nav_bar" *ngIf="user.role=='admin'">
    <div class="div_logo_name">
        <img src="../../../../assets/logo_kopay_2.png" alt="Logo KOPAY">
        <h2>KOPAY</h2>
    </div>
    <div class="div_user">
        <div class="div_profile">
            <div class="div_letter">
                <p>{{user.name[0]}}</p>
            </div>
            <div class="div_name">
                <p>{{user.name.slice(0, 8)}}</p>
                <p>{{user.role}}</p>
            </div>
        </div>
        <hr>
        <p class="options_p" (click)="sendRoute('setting')"><i class="fa fa-gear"></i> <strong>Configuración</strong></p>
    </div>
    <div class="div_options">
        <ul>
            <li (click)="sendRoute('myPackages')"><i class="fa fa-wallet"></i> Movimientos</li>
            <li (click)="sendRoute('productCreation')"><i class="fa fa-cubes"></i> Productos</li>
            <li (click)="sendRoute('employeeRegistration')"><i class="fa fa-user-nurse"></i> Empleados</li>
        </ul>
    </div>
    <div class="div_Sign_off">
        <p class="options_p"><i class="fa fa-store-slash" (click)="sendRoute('login')"></i> Cerrar sesión</p>
    </div>
</div>