<div class="div_recover">
    <div class="content" [ngStyle]="{ 'height.%': var_recovery=='password' ? 65 : 55 }">
        <div class="div_logo_name">
            <img src="../../../../assets/logo_kopay.png" alt="Logo de KOPAY" (click)="navigate('main')">
            <h1>KOPAY</h1>
        </div>
        <div class="div_email" *ngIf="var_recovery=='email'">
            <p for="email">Ingresa tu correo electrónico para buscar tu cuenta y recuperar tu contraseña.</p>
            <input name="email" type="email" placeholder="Correo electrónico" class="input_style">
            <div class="div_button">
                <button (click)="navigate('login')" class="buttons button_white">Cancelar</button>
                <button (click)="continueRecovery('code')" class="buttons button_dark_blue">Buscar</button>
            </div>
        </div>
        <div class="div_code" *ngIf="var_recovery=='code'">
            <p for="code">A tu correo XX enviamos un codigo. Para continuar con la recuperación de contraseña, ingrese el codigo.</p>
            <input name="code" type="text" placeholder="Codigo" class="input_style">
            <div class="div_button">
                <button (click)="navigate('login')" class="buttons button_white">Cancelar</button>
                <button (click)="continueRecovery('password')" class="buttons button_dark_blue">Verificar</button>
            </div>
        </div>
        <div class="div_password" *ngIf="var_recovery=='password'">
            <p for="email">Ingresa la nueva contraseña que deseas para tu cuenta.</p>
            <input name="password" type="password" placeholder="Contraseña" class="input_style">
            <input name="password" type="password" placeholder="Contraseña" class="input_style">
            <div class="div_button">
                <button (click)="navigate('login')" class="buttons button_white">Cancelar</button>
                <button (click)="modalActions()" class="buttons button_dark_blue">Cambiar contraseña</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" [ngClass]="{'show': var_modal}">
    <div class="modal_content" [ngClass]="{'show': var_modal}">
        <div class="content">
            <h2>¡Se ha cambiado correctamenta su contraseña!</h2>
            <hr>
            <p>Desde este momento podrás iniciar sesión con tu nueva contraseña.</p>
            <button (click)="navigate('login')" class="buttons button_dark_blue">Aceptar</button>
        </div>
    </div>
</div>