@import '../../../styles/colors-letters.scss';
@import '../../../styles/button_input.scss';
@import '../../../styles/modal.scss';

.div_employee{
    display: flex;
    width: 100%;
    height: 100vh;
    app-nav-bar{
        width: 20%;
    }
    .div_body{
        width: 80%;
        height: 100%;
        background: white;
        .div_header{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 7px 30px; //5px 30px;
            background: white;
            color: $dark-blue;
            border-bottom: 2px solid $light-gray-letter;
            h3{
                margin: 13px 0px;
            }
            div{
                display: flex;
                justify-content: space-between;
                width: auto;
                .buttons{
                    display: flex;
                    align-items: center;
                    justify-content:space-around;
                    width: auto;
                    padding: 8px !important;
                    font-weight: bold;
                    margin-right: 10px;
                    span{
                        display: none;
                    }
                    i{
                        transition: margin-right 0.4s;
                    }
                    &:hover {
                        width: 150px;
                        span{
                            display: block;
                        }
                        i {
                          margin-right: 10px;
                        }
                        width: auto; /* Para que el botón se ajuste automáticamente al contenido */
                        transition: width 0.4s;
                    }
                }
            }
        }
        .div_main_search{
            width: 100%;
            margin-top: 40px;
            div{
                margin: 0 auto ;
                position: relative;
                width: 60%;
            }
        }
        .div_form{
            display: flex;
            justify-content: center;
            width: 100%;
            margin-top: 30px;
            padding: 0px 30px; //5px 30px;
            box-sizing: border-box;
            form{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                .div_fields{
                    width: 38%;
                }
                button{
                    width: 19%;
                }
                .div_fields, button{
                    margin: 10px 0px;
                }
            }
        }
        .div_table_main{
            width: 100%;
            padding: 0px 30px;
            // margin-top: 30px;
            box-sizing: border-box;
        }
    }
}


//EFECTOS

$animation-duration: 0.5s; // Duración de la animación

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slideDown {
  animation: slideDown $animation-duration ease;
}

//MODAL
.modal .modal_content {
    width: 40%;
    .content{
        text-align: center;
        width: 100%;
        h2, hr{
            color: $gray-letter;
        }
        button{
            width: 35%;
            margin-top: 20px;
        }

        .change_width{
            width: 45%;
        }
    }
}

