@import 'src/app/styles/colors-letters.scss';
@import 'src/app/styles/button_input.scss';
@import '../../../styles/modal.scss';
.div_signin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: $dark-blue;
    .content{
        width: 35%;
        height: 80%;
        padding: 30px;
        border-radius: 10px;
        background: white;
        button{
            width: 100%;
        }
        .div_logo_name{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                margin: 7px;
                color: $gray-letter;
            }
            img{
                width: 80px;
                height: 63px;
                cursor: pointer;
            }
        }
        .div_logo_name, button, input{
           margin-bottom: 15px;
        }
        .div_code{
            text-align: justify;
            height: fit-content;
            margin-bottom: 15px;
            input{
                margin: 0px;
            }
            p{
                margin: 0px;
                margin: 7px, 0px;
                color: $gray-letter;
            }
        }
    }
}

//MODAL
.modal .modal_content {
    width: 40%;
    .content{
        text-align: center;
        width: 100%;
        h2, hr{
            color: $gray-letter;
        }
        button{
            width: 45%;
            margin-top: 20px;
        }
    }
}